
@font-face {
  font-family: "IBMPlex";
  src: url("./assets/IBMPlexSansHebrew-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: IBMPlex;
  text-align: center;
  font-size: 10px;
  transition: all 4s;
  overflow-x: hidden;
}

body.dark {
  background-color: black;
}

.input-wrapper {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 5px 5px 5px;
  transform: translateY(0);
  transition: all 4s;
}

.input-wrapper.up {
  transform: translateY(-200%);
}

h1 {
  margin: 0 0 16px 0 ;
}

.input-border {
  border: 1px solid black;
  width: min(80%, 500px);
  margin: 0 auto;
  overflow: hidden;
}

.input-border::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
  opacity: 0;
  transform: translateX(100%);
}
.input-border.show-bar::after {
  animation: reach-end 4s ease-in forwards;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transform: translateY(0);
  transition: all 1.5s;
}

input.down {
  pointer-events: none;
  transform: translateY(100%);
}

@keyframes reach-end {
  from {transform: translateX(100%); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes pan {
  from {transform: translateX(0);}
  to {transform: translateX(100%);}
}

.stage {
  display: grid;
  font-size: 20px;
  color: white;
  line-height: 13px;
  position: absolute;
  bottom: 0.7rem;
  width: 100%;
}

.stage p {
  margin: 0;
  transform: translateX(-5%);
}

.ground {
  line-height: 5px;
}

.tower {
  grid-area: 1/1;
  align-self: end;
  width: 100%;
}

.star {
  position: fixed;
  margin: 0;
  z-index: -1;
}

@keyframes flicker {
  0% {opacity: 1;}
  40% {opacity: 1;}
  50% {opacity: 0.2;}
  60% {opacity: 1;}
  100% {opacity: 1;}
}

.desc-wrapper {
  grid-area: 1/1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desc {
  line-height: 1em;
  direction: rtl;
}

.desc p.dark {
  color: black;
  opacity: 0;
}

.appear {
  opacity: 0;
  animation: 3s appear forwards;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.disappear {
  opacity: 1;
  animation: 3s disappear forwards;
}

@keyframes disappear {
  from {opacity: 1;}
  to {opacity: 0;}
}
.hidden {
  display: none;
}

@media (max-width: 640px) {
  body {
    font-size: 7px;
  }
  input {
    font-size: 1rem;  
    padding: 4px;
 }
 .stage p {
   transform: translateX(0);
 }
}
@media (max-width: 450px) {
  body {
    font-size: 6px;
  }
  input {
    padding: 3px;
 }
}
@media (max-width: 360px) {
  body {
    font-size: 5px;
  }
}
